:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: 100%;
  align-items: center;
  gap: 5%;

  .book-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: auto;
    padding: 100px;
    gap: 30px;
    justify-content: center;


  }
}
