<span class="p-input-icon-left p-float-label">
    <i class="pi pi-search"></i>
    <input [formControl]="booksSearchTerm" id="float-input" class="p-inputtext-lg" type="text" pInputText>
  <label for="float-input">Search Books</label>
</span>
<ng-container *ngIf="presentedBooks$ | async as books;">
  <div class="book-list">
    <ng-container *ngIf="(isFetchingBooks$ | async) === false; else loading">
      <app-book-card *ngFor="let book of books"
                     (favoritesClicked)="toggleFavorites(book)"

                     [isInFavorites]="!!(getIsBookInFavorites(book) | async)"
                     [book]="book"></app-book-card>
    </ng-container>
    <ng-template #loading>
      <div>
        <p-progressSpinner></p-progressSpinner>
      </div>
    </ng-template>
  </div>
</ng-container>

<p-paginator [rowsPerPageOptions]="[10,20,30]" (onPageChange)="handlePageChange($event)" [rows]="20"
             [totalRecords]="(totalQueriedBooks$ | async) || 0"></p-paginator>
